html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.select_custom {
  padding: 1px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../assets/images/chevron-down.png") 96%/30% no-repeat; }

/* CAUTION: IE hackery ahead */
.select_custom::-ms-expand {
  display: none;
  /* remove default arrow on ie10 and ie11 */ }

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  .select_custom {
    background: none\9;
    padding: 5px\9; } }

.header__logo-png {
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  display: inline-block; }

.header__nav a {
  color: #fff;
  font-weight: bold; }

.footer {
  background-color: #333;
  color: #fff;
  font-size: 1.3rem; }
  .footer__list {
    list-style: none; }
    .footer__list li {
      padding: 0.7rem; }
      .footer__list li:first-child {
        font-weight: bold; }

.footer-search {
  background-color: #0a1245;
  color: #fff; }
  .footer-search__text {
    font-size: 2.5rem; }
  .footer-search__textbox {
    border: none;
    border-radius: 0.5rem;
    padding: 1.3rem;
    font-size: 1.6rem; }
  .footer-search__btn {
    font-size: 1.6rem;
    padding: 1.2rem; }
    .footer-search__btn-org {
      background-color: #fb4c06;
      border: none; }

.banner {
  background-image: url("../assets/images/ConwayBannerFallLeaves.jpg");
  background-repeat: no-repeat;
  height: 58rem;
  background-size: cover; }

.popular {
  background-color: #f7f7f7; }
  .popular__tile {
    font-size: 2.3rem;
    font-weight: bold; }
  .popular__card {
    height: 21rem; }
    .popular__card-title {
      background-color: #000;
      opacity: 0.8;
      color: #fff; }

.recommended__title {
  font-size: 2.3rem;
  font-weight: bold; }

.recommended__card {
  height: 15rem;
  border-radius: 1.3rem; }
  .recommended__card-bg {
    background-image: url("../assets/images/ground.jpg");
    background-repeat: no-repeat;
    height: 15rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem; }

.recommended__text-heading {
  font-size: 1.8rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap; }

.recommended__fees-text {
  color: #274693;
  position: absolute;
  top: 7px; }

.recommended__fees-currency {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: -1.7rem; }

.recommended__fees-amount {
  font-size: 4.8rem;
  font-weight: bold; }

.recommended__fees-cents {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: -1.7rem; }

.recommended__view {
  color: #fb4c06;
  font-weight: bold;
  font-size: 1.6rem; }

.recommended__rating-active {
  background-image: url("../assets/images/star_active.png");
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block; }

.recommended__rating-not-active {
  background-image: url("../assets/images/star_not_active.png");
  background-repeat: no-repeat;
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block; }

.search {
  height: 40rem;
  background-color: #fff;
  border-radius: 1rem; }
  .search__text {
    font-weight: bold;
    border-bottom: solid 0.1rem #ccc; }
    .search__text-active {
      border-bottom: solid 0.2rem #fb4c06; }
  .search__heading {
    font-size: 2.3rem;
    font-weight: bold; }
    .search__heading-textbox {
      height: 3.9rem;
      border-radius: 0.6rem; }
  .search__btn-org {
    background-color: #fb4c06;
    border: none;
    border-radius: 0.5rem;
    font-size: 2.3rem;
    width: 15rem; }
  .search__input {
    position: relative; }
    .search__input-icons {
      position: absolute;
      top: 3.7rem;
      left: 1rem;
      font-size: 2rem; }
