html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.header__nav a {
  color: #fff; }

.footer {
  background-color: #333;
  color: #fff;
  font-size: 1.3rem; }
  .footer__list {
    list-style: none; }
    .footer__list li {
      padding: 0.7rem; }
      .footer__list li:first-child {
        font-weight: bold; }

.footer-search {
  background-color: #0a1245;
  color: #fff; }
  .footer-search__text {
    font-size: 2.5rem; }
  .footer-search__textbox {
    border: none;
    border-radius: 0.5rem;
    padding: 1.3rem;
    font-size: 1.6rem; }
  .footer-search__btn {
    font-size: 1.6rem;
    padding: 1.2rem; }
    .footer-search__btn-org {
      background-color: #fb4c06;
      border: none; }

.banner {
  background-image: url("../assets/images/SG-Banner.jpg");
  background-repeat: no-repeat;
  height: 41rem;
  background-size: cover; }

.popular {
  background-color: #f7f7f7; }
  .popular__tile {
    font-size: 2.3rem;
    font-weight: bold; }
  .popular__card {
    height: 21rem; }
    .popular__card-title {
      background-color: #000;
      opacity: 0.8;
      color: #fff; }

.recommended__title {
  font-size: 2.3rem;
  font-weight: bold; }

.recommended__card {
  height: 15rem;
  border-radius: 1.3rem; }
  .recommended__card-bg {
    background-image: url("../assets/images/ground.jpg");
    background-repeat: no-repeat;
    height: 15rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem; }

.recommended__text-heading {
  font-size: 1.8rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 32rem;
  white-space: nowrap; }

.recommended__fees-text {
  color: #274693;
  position: absolute;
  top: 7px; }

.recommended__fees-currency {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: -1.7rem; }

.recommended__fees-amount {
  font-size: 4.8rem;
  font-weight: bold; }

.recommended__fees-cents {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  top: -1.7rem; }

.recommended__view {
  color: #fb4c06;
  font-weight: bold;
  font-size: 1.6rem; }
