$dark-background-color: #000;
$home-background-color: #f7f7f7;
$footer-background-color: #333;
$text-color-white: #fff;
$btn-color-orange: #fb4c06;
$footer-search-bg-color: #0a1245;
$page-heading: 2.3rem;
