.banner {
  background-image: url("../assets/images/SG-Banner.jpg");
  background-repeat: no-repeat;
  height: 41rem;
}
.popular {
  background-color: $home-background-color;
  &__tile {
    font-size: $page-heading;
    font-weight: bold;
  }
  &__card {
    &-title {
      background-color: $dark-background-color;
      opacity: 0.7;
      color: $text-color-white;
    }
  }
}
.recommended {
  &__title {
    font-size: $page-heading;
    font-weight: bold;
  }
  &__card {
    height: 15rem;
    border-radius: 1.3rem;
    &-bg {
      background-image: url("../assets/images/ground.jpg");
      background-repeat: no-repeat;
      height: 15rem;
    }
  }
}
