.banner {
  background-image: url("../assets/images/ConwayBannerFallLeaves.jpg");
  background-repeat: no-repeat;
  height: 58rem;
  background-size: cover;

  @include respond(tab-port) {
    height: auto;
    padding-bottom: 3rem;
  }
}

.popular {
  background-color: $home-background-color;

  &__tile {
    font-size: $page-heading;
    font-weight: bold;
  }

  &__card {
    height: 21rem;

    &-title {
      background-color: $dark-background-color;
      opacity: 0.8;
      color: $text-color-white;
    }
  }
}

.recommended {
  &__title {
    font-size: $page-heading;
    font-weight: bold;
  }

  &__card {
    height: 15rem;
    border-radius: 1.3rem;

    &-bg {
      background-image: url("../assets/images/ground.jpg");
      background-repeat: no-repeat;
      height: 15rem;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
    }
  }

  &__text {
    &-heading {
      font-size: $page-sub-heading;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
    }
  }

  &__fees {
    position: relative;

    &-text {
      color: $text-color-blue;
      position: absolute;
      top: -0.7rem;
      width: 11rem;
    }

    &-currency {
      font-size: 2rem;
      font-weight: bold;
      position: relative;
      top: -1.7rem;
      left: 0.5rem;
    }

    &-amount {
      font-size: 4.8rem;
      font-weight: bold;
    }

    &-cents {
      font-size: 2rem;
      font-weight: bold;
      top: 1.3rem;
      position: absolute;
      left: 7.1rem;
    }
  }

  &__view {
    color: $btn-color-orange;
    font-weight: bold;
    font-size: 1.6rem;
  }

  &__rating {
    &-active {
      background-image: url("../assets/images/star_active.png");
      background-repeat: no-repeat;
      height: 2.2rem;
      width: 2rem;
      display: inline-block;
    }

    &-not-active {
      background-image: url("../assets/images/star_not_active.png");
      background-repeat: no-repeat;
      height: 2.2rem;
      width: 2rem;
      display: inline-block;
    }
  }
}

.search {
  height: 40rem;
  background-color: $white-background-color;
  border-radius: 1rem;
  width: 53rem;

  @include respond(tab-port) {
    height: auto;
    width: 100%;
  }

  &__text {
    font-size: $page-heading;
    font-weight: bold;
    border-bottom: solid 0.1rem $grey-background-color;

    &-active {
      border-bottom: solid 0.2rem $btn-color-orange;
    }
  }

  &__heading {
    font-size: $page-heading;
    font-weight: bold;

    &-textbox {
      height: 3.3rem;
      border-radius: 0.6rem;
      padding-left: 3.7rem;
      font-size: 1.6rem;
    }
  }

  &__btn {


    &-org {
      background-color: $btn-color-orange;
      border: none;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      font-weight: bold;
      width: 15rem;
      color: $white-background-color;


    }

    &:hover {
      opacity: 0.7 !important;
    }
  }

  &__input {
    position: relative;

    &-icons {
      position: absolute;
      top: 3.3rem;
      left: 1rem;
      font-size: 2rem;
    }

    &-calender {
      position: absolute;
      top: 3.3rem;
      left: 2.2rem;
      font-size: 2rem;
      z-index: 1;
    }
  }
}